{% extends "base.html" %}

{% block title %}How to Use {% endblock %}

{% block content %}

<h1>How to use the Budgeting App</h1>

<p>Welcome to my Budgeting App! Follow these steps to manage your finances effectively:</p>

<h2>1. Sign Up & Log In</h2>
<p>Create an account by signing up. If you already have an account, simply log in.</p>

<h2>2. Add Incomes</h2>
<p>
    For every income source in the household add what you expect to bring in.</br>
    If you haven't actually received that income yet, that is okay! Leave the</br>
    actual tab at zero for now. As you receive the income, go ahead and fill </br>
    that section in with what was actually received by typing that amount in </br>
    the actual section and pressing the 'edit' buttion.                      </br>

    When you are finished adding the expected amounts for income, the dashboard</br>
    should show your total budgetable income. This number is the total amount  </br>
    that you are expected to bring in and can budget for.
</p>

<h2>3. Add Expenses</h2>
<p>
    Navigate to the expenses page and do the same as you did for the income </br>
    section. Add each expected expense you will have for the month and you  </br>
    can add the actual amounts later as you make those payments. Once you   </br>
    are finished, your "left remaining" amount should be zero. You want to  </br>
    give every dollar amount a place to go. If you go over, then adjust your</br>
    budget to work for the month. If you have some left over, just add it   </br>
    to savings or some other place you would like that money to go.
</p>

<h2>4. View your Progress</h2>
<p>
    The dashboard on each page will show you the total budgetable amount,   </br>
    the amount leftover (or amount you went over) to budget for, the actual </br>
    amount you have spent for the month (real totals), and the over/under   </br>
    you have spent versus what has came in.
</p>

<h2>5. Update or Delete Entries</h2>
<p>
    The purpose of this app is to update the entries as you go so you can   </br>
    have an idea of what you are actually spending against your budget.     </br>
    You can also delete entries as needed.  
</p>

<h2>6. Log Out</h2>
<p>Click the logout button to securely log out from the app.</p>

<p>Happy Budgeting! 🎯</p>
{% endblock %}