{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}

<style>
    #incomeTable th, #incomeTable td {
        padding: 10px;
    }
    #tableContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #incomeTable {
        width: 80%;
        margin: 20px 0;
    }
</style>

<div id="tableContainer">
<table class="tabel table-bordered" id="incomeTable">
    <thead>
        <tr>
            <th class="bg-success">Income Name</th>
            <th class="bg-success">Expected Amount</th>
            <th class="bg-success">Actual Amount</th>
            <th class="bg-success">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for income in Income %}
        <tr>
            <td>{{ income.name }}</td>
            <td>{{ income.expected_amount }}</td>
            <td>{{ income.actual_amount }}</td>
            <td><button type="button">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
        
    <tfoot>
        <tr>
            <form method="POST">
                <td class="bg-success"><input type="text" id="incomeName" name="incomeName" required></td>
                <td class="bg-success"><input type="number" id="expectedIncome" name="expectedIncome" required></td>
                <td class="bg-success"><input type="number" id="actualIncome" name="actualIncome" required></td>
                <td class="bg-success"><button type="submit" class="btn btn-primary">Add Income</button></td>
            </form>
        </tr>
    </tfoot>
</table>
</div>

{% endblock %}