{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content%}
<form method="POST">
    <br />
    <h3 align="center">Login</h3>
    <br />
    <div style="border: 20px solid green; padding: 20px;">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Enter Email"/>

            <label for="password">Password</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Enter Password"/>

            <br />

            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</form>
{% endblock %}